doctype html
html
  head
    title Yelp Clone
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.3/dist/css/foundation.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

    style(type="text/css").
      .grid-container
      {
          max-width: 800px;
      }
      h1
      {
          font-size: 2rem;
      }
      .line-item
      {
          border-bottom: solid 0.5px #ccc;
      }
      img.food-item
      {
        height: 150px;
        width: 150px;
      }

      .fa-star
      {
          color: #CCCCCC;
      }
      .checked
      {
        color: #D32323;
      }
      .name
      {
        font-weight: 600;
      }
      .price
      {
        display: inline-block;
        margin-right: 10px;
      }
  body
#message
  section(class='grid-container')
    section(class='grid-y grid-padding-y')
      div(class='cell')
        h1 #{title}
      each item, index in data
        div(class='cell line-item')
          section(class='grid-x grid-padding-x')
            div(class='cell shrink')
              img.image(src=item.photos[0] class='food-item')
            div(class='cell auto')
              section(class='grid-y')
              div(class='cell')
                section(class='grid-x')
                  div(class='cell auto')
                    div(class='name')= index+1 + '. ' + item.name
                    div
                      span(class='fas fa-star' class={'checked': item.rating >= 0.5} class={'fa-star-half-alt': item.rating === 0.5})
                      span(class='fas fa-star' class={'checked': item.rating >= 1.5} class={'fa-star-half-alt': item.rating === 1.5})
                      span(class='fas fa-star' class={'checked': item.rating >= 2.5} class={'fa-star-half-alt': item.rating === 2.5})
                      span(class='fas fa-star' class={'checked': item.rating >= 3.5} class={'fa-star-half-alt': item.rating === 3.5})
                      span(class='fas fa-star' class={'checked': item.rating >= 4.5} class={'fa-star-half-alt': item.rating === 4.5})
                      span #{item.review_count} reviews
                    div
                      span(class='price') #{item.price}
                      span #{item.categories.map(e => e.title).join(",")}
                  div(class='cell auto')
                    div #{item.phone}
                    div #{item.location.formatted_address}
              div(class='cell')
                span #{item.reviews[0].text}
              